body {
    margin: 0;
    padding: 0;
    color: #454545;

    font-family: 'Roboto', sans-serif, 'google';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    button, input[type="submit"], input[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
}

main {
    max-width: 1080px;
    margin: auto;
    padding: 1rem 2rem;
    line-height: 1.5rem;
    align-items: center;
}

h1 {
    font-size: 1.25rem;
    color: #03A5AB;
}

h2 {
    font-size: 1.1rem;
}

p {
    padding-top: 0.5rem;
}

strong {
    color: #03A5AB;
}

.entete {
    width: 100%;
    height: auto;
    @media screen and (max-width: 600px) {
        display: none;
    }
    &-small {
        display: none;
        @media screen and (max-width: 600px) {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.signature {
    text-align: right;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.logosContainer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    justify-content: space-evenly;
    min-width: 60%;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        flex-grow: 1;
        max-width: 100%;
}
}

.logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
    
.logo {
    display: block;
    margin: 0.5rem 0;
}

.textContainer {
    // flex-grow: 2;
    width: 40%;
    @media screen and (max-width: 768px) {
        flex-grow: 1;
        width: 100%;
    }
}

nav {
    position: relative;
    background: #ccc;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 12;
    @media screen and (max-width: 768px) {
        justify-content: left;
    }
}



.navMenu {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
        position: absolute;
        top: 50px;
        left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: left;
        background: #ccc;
        animation: 0.5s move ease-out;
        animation-fill-mode: both;
    }
}

.navButton {
    @media screen and (max-width: 768px) {
        width: 100%;
        border-bottom: 1px solid rgba(33,33,33,.1);
    }
    &:hover {
        background: #03A5AB;
    }
}

.navLink {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 14.5px 15px;
    height: 100%;
    cursor: pointer;
    &:focus {
        background: #03A5AB;
    }
    &.active {
        background: #03A5AB;
    }
}

.hamburger {
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
        height: 25px;
        width: 30px;
        margin-left: 1rem;
    }
}

.threeBars {
    position: relative;
    .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 3px;
        background: #000;
        transition: all 0.3s ease;
        &:nth-child(1) {
            transform: translateY(-8px) rotate(0deg);
        }
        &:nth-child(3) {
            transform: translateY(8px)rotate(0deg);
        }
    }
    &.arrow {
        .bar:nth-child(1) {
            transform-origin: left center;
            transform: translateY(0px) rotate(405deg);
            width: 12px;
            }
        .bar:nth-child(3) {
            transform-origin: left center;
            transform: translateY(0px) rotate(315deg);
            width: 12px;
        }   
        .bar:nth-child(2) {
            transform-origin: center center;
            transform: translateY(-0%) rotate(180deg);
        }
    }
}

.socialNetworksContainer {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.socialNetworksIcons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
}

.socialNetworkLink {
    width: 3rem;
    height: auto;
    color: #03A5AB;
    &:hover {
        cursor: pointer;
        color: #454545
    }
}

@keyframes comesIn {
    0% { left: -20rem; }
    25% { left: 4rem; }
    50% { left: 0.5rem; }
    75% { left: 1.25rem; }
    100% { left: 1rem; }
}

@keyframes comesOut {
    0% { left: 1rem; }
    35% { left: 1.5rem; }
    100% { left: -20rem; }
}

.comesIn {
    animation-name: comesIn;
}

.comesOut {
    animation-name: comesOut;
}

