$primary-color: #03A5AB;
$secondary-color: #454545;
$tertiary-color: #ccc;

body {
    margin: 0;
    padding: 0;
    color: $secondary-color;

    font-family: 'Roboto', sans-serif, 'google';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    button, input[type="submit"], input[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
}

#root {
    display: flex;
    margin: auto;
    max-width: 1400px;
    min-height: 100vh;
    flex-direction: column;
}

main {
    margin: 2rem auto;
    padding: 0 2rem;
    line-height: 1.5rem;
    align-items: center;
}

footer {
    margin-top: auto;
    padding: 2rem;
    background-color: $tertiary-color;
    & h1 {
        font-size: 1.1rem;
    }
}

h1 {
    font-size: 1.5rem;
    color: $primary-color;
}

h2 {
    font-size: 1.25rem;
        color: $primary-color;
}

ul {
    list-style: none;
  }
  
  ul li::before {
    content: "\2022";
    color: $primary-color;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

.home {
    & h2 {
        font-size: 1.1rem;
    }
    & h3 {
        font-size: 1rem;
        color: $primary-color;
    }
}

strong {
    color: $primary-color;
}

hr {
    margin: 2rem 0;
}

.entete {
    width: 100%;
    height: auto;
    @media screen and (max-width: 600px) {
        display: none;
    }
    &-small {
        display: none;
        @media screen and (max-width: 600px) {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.signature {
    text-align: right;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.docsContainer {
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.doc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logosContainer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    justify-content: space-evenly;
    min-width: 60%;
    @media screen and (max-width: 520px) {
        flex-direction: column;
        flex-grow: 1;
        max-width: 100%;
    }
}

.logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    &-title {
        text-align: center;
        padding-right: 1rem;
        @media screen and (max-width: 768px) {
            margin: auto;
        }
    }
}

 
.logo {
    display: block;
    margin: 0.5rem auto;
}

.textContainer {
    // flex-grow: 2;
    width: 40%;
    @media screen and (max-width: 768px) {
        flex-grow: 1;
        width: 100%;
    }
}

.maps {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
    }
    @media screen and (max-width: 520px) {
        flex-direction: column;
    }
}

.map {
    margin: 0.5rem 0 0 1rem;
    @media screen and (max-width: 768px) {
        margin: 0.5rem auto;
        padding: 0 1rem;
        width: 50%;
        text-align: center;
    }
}

.legend {
    margin-top: 0;
    font-size: 0.8rem;
    color: $primary-color
}

nav {
    position: relative;
    background: $tertiary-color;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 12;
    @media screen and (max-width: 768px) {
        justify-content: left;
    }
}



.navMenu {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
        position: absolute;
        top: 50px;
        left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: left;
        background: $tertiary-color;
        animation: 0.5s move ease-out;
        animation-fill-mode: both;
    }
}

.navButton {
    @media screen and (max-width: 768px) {
        width: 100%;
        border-bottom: 1px solid rgba(33,33,33,.1);
    }
    &:hover {
        background: $primary-color;
    }
}

.navLink {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 14.5px 15px;
    height: 100%;
    cursor: pointer;
    &:focus {
        background: $primary-color;
    }
    &.active {
        background: $primary-color;
    }
}

.hamburger {
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
        height: 25px;
        width: 30px;
        margin-left: 1rem;
    }
}

.threeBars {
    position: relative;
    .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 3px;
        background: #000;
        transition: all 0.3s ease;
        &:nth-child(1) {
            transform: translateY(-8px) rotate(0deg);
        }
        &:nth-child(3) {
            transform: translateY(8px)rotate(0deg);
        }
    }
    &.arrow {
        .bar:nth-child(1) {
            transform-origin: left center;
            transform: translateY(-1px) rotate(405deg);
            width: 12px;
            }
        .bar:nth-child(3) {
            transform-origin: left center;
            transform: translateY(1px) rotate(315deg);
            width: 12px;
        }   
        .bar:nth-child(2) {
            transform-origin: center center;
            transform: translateX(1px) rotate(180deg);
        }
    }
}

.socialNetworksContainer {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.socialNetworksIcons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
}

.socialNetworkLink {
    width: 3rem;
    height: auto;
    color: $primary-color;
    &:hover {
        cursor: pointer;
        color: $secondary-color
    }
}

.spacer {
    flex: 1;
  }

.linkButton {
    margin: 0.5rem auto;
    border: 1px solid $primary-color;
    padding: 0.6rem 1.5rem;
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;

    &__footer {
        width: 8rem;
        text-align: center;
    }

    &:hover {
        cursor: pointer;
        color: $secondary-color;
        border-color: $secondary-color;
    }
}

.footerLinksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
    padding: 0 1rem;
    min-width: 60%;
    @media screen and (max-width: 768px) {
        flex-grow: 1;
        max-width: 100%;
    }
}

.footerLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

@keyframes comesIn {
    0% { left: -20rem; }
    25% { left: 4rem; }
    50% { left: 0.5rem; }
    75% { left: 1.25rem; }
    100% { left: 1rem; }
}

@keyframes comesOut {
    0% { left: 1rem; }
    35% { left: 1.5rem; }
    100% { left: -20rem; }
}

.comesIn {
    animation-name: comesIn;
}

.comesOut {
    animation-name: comesOut;
}

